table thead {
  inset-block-start: 0;
}
table tfoot {
  inset-block-end: 0;
}
table td {
  max-width: 10%;;
}

.table {
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  width: 100%;
  min-width: max-content;
  margin: 2rem auto;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.tableHeader {
  position: sticky;
  inset-block-start: 0;
  top: 0px;
  background-color: #f1f1f1;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #2c3e50;
  width: 100px;
  word-wrap: break-word;
}

.tableHeader:first-child {
  border-top-left-radius: 15px;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
}

.tableFooter {
  position: sticky;
  background-color: #f1f1f1;
  padding: 8px 0px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  color: #2c3e50;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  justify-content: center;
}

.tableRowItems {
  cursor: auto;
}

.tableRowItems:nth-child(odd) {
  background-color: #f9f9f9;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  color: grey;
}

.button {
  position: sticky;
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

.activeButton {
  color: white;
  background: #185adb;
}

.inactiveButton {
  color: #2c3e50;
  background: #f9f9f9;
}