
CBHPredictorWebAPI/.vs/ProjectEvaluation/cbhpredictorwebapi.projects.v5.2
CBHPredictorWebAPI/.vs/ProjectEvaluation/cbhpredictorwebapi.metadata.v5.2
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/v17/.suo
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/v17/.futdcache.v2
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/FileContentIndex/3f23de0f-0c86-455c-af03-c885edc2e757.vsidx
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/FileContentIndex/04165ed1-24eb-44a7-a06f-82c751bc03ef.vsidx
