
CBHPredictorWebAPI/.vs/ProjectEvaluation/cbhpredictorwebapi.projects.v5.2
CBHPredictorWebAPI/.vs/ProjectEvaluation/cbhpredictorwebapi.metadata.v5.2
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/v17/.suo
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/v17/.futdcache.v2
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/FileContentIndex/
CBHPredictorWebAPI/CBHPredictorWebAPI/obj/project.nuget.cache
*.v2
*.vsidx
CBHPredictorWebAPI/.vs/CBHPredictorWebAPI/v17/.suo
*.2
*.json
*.props
*.cache
