.grid_container_terms {
  display: grid;
  text-align: center;
  grid-template-columns: 30vw auto 30vw;
  grid-template-rows: 52vh;
  background-color: #eeeeee;
  border-radius: 25px;
}

.grid_container_order {
  display: grid;
  text-align: center;
  grid-template-columns: 30vw auto 30vw;
  grid-template-rows: 54vh 50vh;
  background-color: #eeeeee;
  border-radius: 25px;
}

.left_wrapper {
  width: 30vw;
  height: 40vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.middle_wrapper {
  width: 30vw;
  height: 40vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.right_wrapper {
  width: 30vw;
  height: 40vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.center_wrapper {
  width: 100%;
  height: 40vh;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.min {
  margin-top: 10px;
  width: 100%;
  font-size: 24px;
  text-align: center;
  position: relative;
  top: -10%;
}

.min_input {
  width: 10%;
  text-align: left;
  border: 1.5px solid #949494;
  border-radius: 6px;
}

/*Anpassen der Überschriftenposition mit margins*/
h3 {
margin-top: 16px;
margin-bottom: 16px;
}

/*customized CHeckboxen*/
input[type=checkbox] {
  /*Entfernen der Standard-Appearance*/
  -webkit-appearance: none;
  appearance: none;

  /*custom design*/
  height: 25px;
  width: 25px;
  padding: 6px;
  background-clip: content-box;

  border: 1.5px solid #949494;
  border-radius: 6px;

  background-color: #cecece;
  margin-left: 8px;
  vertical-align: middle;
}

input[type=checkbox]:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: #686868;
}