.navbar {
    background-color: #000020;
    height: 100%;
    width: 5%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.menu_bars {
    background: transparent;
    font-size: 3rem;
}

.logout {
    margin-left: 80px;
    font-size: 2.5rem;
}

.nav_menu {
    background-color: #000020;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav_menu.active {
    left: 0;
    transition: 350ms;
}

.nav_text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 3.5rem;
    margin-bottom: 2%;
}

.nav_text.head {
    color: #f5f5f5;
    margin-top: 15px;
    font-size: 1.5rem;
    translate: -10px;
}

.nav_text a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1.5rem;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 4px;
}

.nav_text.head a {
    translate: -10px;
}

.nav_head a:hover,
.nav_text a:hover {
    background-color: #2c3e50;
}

.nav_menu_items {
    width: 100%;
    overflow-y: auto;
}

.navbar_toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}