.body {
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.container {
    margin-top: 5%;
}

input {
    font-size: 20px;
}

.button_green {
    margin-top: 3%;
    width: 100%;
    background-color: rgb(107, 178, 56);
}

.button_green:hover {
    background-color: rgb(137, 208, 86);
}

.button_gray {
    width: 100%;
    background-color: rgb(200, 200, 210);
}

.button_gray:hover {
    background-color: rgb(170, 170, 180);
}
