.body {
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  font-size: 25px;
  font-weight: 200;
}

.table {
  margin-top: 1%;
}

.table h3 {
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
}

.tableview {
  padding-top: 10%;
}

.grid {
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: grid;
  align-items: center;
  grid-template-columns: 5vw 5vw 71vw 3vw 3vw;
}

.rowInput {
  width: 100%;
  border: 2px solid;
  text-align: center;
  margin-bottom: 1%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.rows {
  margin-left: 10%;
  grid-column-start: 2;
  grid-column-end: 3;
}

.filter_container {
  height: 100%;
  margin-left: 2vw;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  grid-column-start: 3;
  grid-column-end: 4;
}

.filterInput {
  width: 10vw;
  border: 2px solid;
  text-align: center;
  margin-bottom: 1%;
}

.filterSelect {
  width: 6vw;
  margin-left: .5vw;
  font-size: 25px;
  border: 2px;
  text-align: center;
  translate: 0 30%;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 75vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.filter_container label {
  width: auto;
  translate: 0 -10%;
  white-space: nowrap;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .5%;
  padding: 2px 5px 2px 10px;
  background-color: #dadada;
  border-radius: 10px;
}

.filter_container button {
  padding: 0 5px;
  margin-left: 5px;
  background-color: #e7e7e7;
  border: none;
  color: black;
}

.popover h5 {
  margin-top: 1vh;
  margin-bottom: 0;
}

.popover h4 {
  margin-bottom: 2vh;
}

.popover input[type=checkbox]{
  margin-left: 5%;
  translate: 0 -10%;
}

.popover button{
  margin-top: 10%;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  color: white;
  text-align: center;
  transition-duration: 0.4s;
  display: inline-block;
}

.button_green {
  width: 100%;
  background-color: rgb(107, 178, 56);
}

.button_green:hover {
  background-color: rgb(137, 208, 86);
}

.button_gray {
  width: 50%;
  color: black;
  background-color: rgb(200, 200, 210);
}

.button_gray:hover {
  background-color: rgb(170, 170, 180);
}

.button_backarrow {
  width: 5%;
  background-color: rgb(40, 40, 40);
}

.button_backarrow:hover {
  width: 5%;
  background-color: rgb(70, 70, 70);
}

.button_newentry {
  margin-left: 2px;
  width: 60%;
  background-color: rgb(107, 178, 56);
}

.button_newentry:hover {
  background-color: rgb(137, 208, 86);
}

.button_deleteentries {
  margin-left: 2px;
  width: 34%;
  color: black;
  background-color: rgb(200, 200, 210);
}

.button_deleteentries:hover {
  background-color: rgb(170, 170, 180);
}

.button_filter {
  width: 100%;
  color: black;
  background-color: rgb(200, 200, 210);
}

.button_filter:hover {
  background-color: rgb(170, 170, 180);
}

.button_relation {
  width: auto;
  color: black;
  translate: 80%;
  background-color: rgb(200, 200, 210);
  grid-column-start: 4;
  grid-column-end: 5;
}

.button_relation:hover {
  background-color: rgb(170, 170, 180);
}

.button_popover {
  margin: auto;
  width: 2vw;
  translate: 120%;
  background-color: rgb(107, 178, 56);
  grid-column-start: 5;
  grid-column-end: 6;
}

.button_popover:hover {
  background-color: rgb(137, 208, 86);
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

input[type=checkbox] {
  /*Entfernen der Standard-Appearance*/
  -webkit-appearance: none;
  appearance: none;

  /*custom design*/
  height: 25px;
  width: 25px;
  padding: 6px;
  background-clip: content-box;

  border: 1.5px solid #949494;
  border-radius: 6px;

  background-color: #cecece;
  margin-left: 8px;
  vertical-align: middle;
}

input[type=checkbox]:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: #686868;
}