@font-face {
  font-family: 'poppins';
  src: url(../../files/Poppins/Poppins-Light.ttf);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'poppins';
  src: url(../../files/Poppins/Poppins-Medium.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'poppins';
  src: url(../../files/Poppins/Poppins-Black.ttf);
  font-style: normal;
  font-weight: 500;
}

main {
  width: 100vw;
  height: 100vh;
  font-family: poppins;
}

.body {
  height: 100vh;
  padding-top: 10vh;
  font-family: 'poppins';
  overflow-x: hidden;
}

div {
  font-size: 30px;
  font-weight: 200;
}

h1 {
  font-weight: 500;
  font-size: 60px;
}

h3 {
  font-weight: 400;
  font-size: 35px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  background-color: #000020;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 3px 20px rgb(2, 4, 2);
}

.menu_container {
  position: absolute;
  top: 45%;
  left: 3%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.text_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: 400;
}