table thead {
  inset-block-start: 0;
}
table tfoot {
  inset-block-end: 0;
}
table td {
  max-width: 10%;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 69vh;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.table {
  table-layout: auto;
  border-collapse: collapse;
  border: none;
  width: 100%;
  min-width: max-content;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
}

.tableHeader {
  position: sticky;
  inset-block-start: 0;
  background-color: #6cB23B;
  padding: 12px;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  color: #2c3e50;
  width: 100px;
  word-wrap: break-word;
}

.header_button {
  background-color: #6cB23B;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 14px;
  color: #2c3e50;
}

.header_button:hover {
  background-color: #7bc248;
}

.sort_header {
  font-weight: 500;
  font-size: 20px;
  color: #2c3e50;
}

.order_button {
  width: 3.5rem;
  white-space: nowrap;
  background-color: #2c3e50;
  margin: 2px;
  padding: 5px auto;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #eeeeee;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
}

.tableRowItems {
  cursor: auto;
}

.tableRowItems:nth-child(odd) {
  background-color: #e9e9e9;
}

.tableRowItems:nth-child(even) {
  background-color: #f1f1f1;
}

.tableFooter {
  position: sticky;
  background-color: #6cB23B;
  padding: 8px 0px;
  width: 100%;
  height: 6vh;
  font-weight: 500;
  text-align: center;
  align-items: center;
  font-size: 16px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  justify-content: center;
}

.tableCell {
  padding: 12px;
  font-size: 14px;
  color: grey;
}

.footer_button {
  position: sticky;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

button {
  padding: 5px;
  font-size: 20px;
  color: white;
  text-align: center;
  transition-duration: 0.4s;
  display: inline-block;
}

.activeButton {
  min-width: 2rem;
  color: white;
  background: #2c3e50;
  margin-bottom: 3px;
  padding: 5px 10px;
}

.inactiveButton {
  min-width: 2rem;
  color: #2c3e50;
  background: #f9f9f9;
  margin-bottom: 3px;
  padding: 5px 10px;
}

.button_black {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  background-color: #2c3e50;
}

.button_black:hover {
  background-color: #3e5b77;
}

.button_gray {
  padding: 5px 10px 5px 10px;
  color: black;
  background-color: rgb(200, 200, 210);
}

.button_gray:hover {
  background-color: rgb(170, 170, 180);
}